* {
  transition: all 0.25s ease-in-out 0s;
}
body {
  background-color: rgb(251, 248, 245);
}
.room-card {
  border-radius: 4px;
  margin: 0px 8px 8px 0px;
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 265px;
  height: 270px;
  top: 0;
  transition: all 0.25s ease-in-out 0s;
}
.room-card:hover {
  cursor: pointer;
  position: relative;
  transform: translateY(-9px);
}

.Btn,
.All-Btn {
  white-space: nowrap;
  position: relative;
  width: fit-content;
  padding: 0px;
  border: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  /* font-family: "Centra No2"; */
  color: rgb(233, 103, 43);
  background-color: transparent;
  transition: all 150ms ease 0s;
}
.All-Btn::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 2px;
  opacity: 1;
  background-color: rgb(233, 103, 43);
  left: 0px;
  transition: width 1.5s;
}
.Btn::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 20%;
  height: 2px;
  opacity: 1;
  background-color: rgb(233, 103, 43);
  left: 0px;
  transition: width 1.5s;
}
.Btn:hover::after,
.All-Btn:hover::after {
  content: "";
  width: 100%;
  height: 2px;
}
.product-card {
  margin: 0px 2px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 0px;
  transition: all 0.25s ease-in-out 0s;
  padding: 40px 32px;
  background-color: rgb(255, 255, 255);
  width: 245px;
  height: 385px;
  /* transition: border 1.5s; */
}
.product-card:hover {
  cursor: pointer;
  position: relative;
  transform: translateY(-9px);
  /* border:rgb(233, 103, 43) solid 2px ; */
}
.product-name {
  position: relative;
  transition: width 1.5s;
}
.product-name::after {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  top: 30px;
  transition: width 0.5s;
}
.product-name::before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  right: 50%;
  top: 30px;
  transition: width 0.5s;
}
.product-name:hover::after {
  content: "";
  position: absolute;
  background-color: black;

  width: 50%;
  height: 1px;
}
.product-name:hover::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 50%;
  height: 1px;
}

.rightSide {
  background-color: #e9672b;
}

.sideBtn {
  background-color: rgb(255, 255, 255);
}

.forbreak {
  width: 70%;
  font-size: 30px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sides {
  font-size: 22px;
}
