@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Centra No2';
    src: url('./fonts/centra No2/CentraNo2-BlackItalic.ttf') format('truetype');
  }
  .custom-font {
    font-family: 'Centra No2', sans-serif;
    font-size: 24px; /* Adjust the font size as needed */

  }